<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<div th:fragment="urlFileList">

		<div class="table-responsive">
			<table class="table table-striped" id="tblFileList">
				<thead>
					<tr>
						<th>Download File</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="entry : ${listOfEntries}">
						<td><a th:href="${entry.hrefFile}" th:text="${entry.hrefFileText}">file</a> <div th:align="right"><a th:href="${entry.hrefDelete}" th:text="delete"></a></div></td>
					</tr>
				</tbody>
			</table>
		</div>
		

	</div>

</body>
</html>